$error: #e93000;
$warning: #ffb725;

$primary1: #657d96;
$primary2: #395168;
$primary3: #0d293d;

$secondary1: #fff263;
$secondary2: #fbc02d;
$secondary3: #c49000;

//$primary1: #439889;
//$primary2: #00695c;
//$primary3: #003d33;
//
//$secondary1: #ffe54c;
//$secondary2: #ffb300;
//$secondary3: #c68400;

$grey1: #f8f8f8;
$grey2: #eaeaea;
$grey3: #e0e0e0;
$grey4: #d0d0d0;
$grey7: #343741;
$grey5: #2e2e2e;
$grey6: #222222;

$black: #434343;
$white: #ffffff;
